<%= include_gon %>
<%= nested_form_for(@slide, :html => {:multipart => true, :class => "cmxform"}) do |f| %>

    <div id="main_form_body">

      <%= f.hidden_field :presentation_id, :value => @presentation.id %>
      <%= f.hidden_field :mode, :value => @slide.mode %>
      <%= f.hidden_field :nosub, :value => @slide.nosub %>

      <%= f.text_field :title, :class => "slide_field required", :placeholder => "Title" %>

      <div id="subtitle_block">
        <%= f.text_area :subtitle, :class => "slide_field", :placeholder => "Subtitle" %>
        <a href="#" class="btn btn-info" id="titlepic_Modal_btn">
          <div id="title_picture">
            <% if @slide.titlepic.blank? %>
                <!--TODO: do we need remove img here  -->
                <%= f.file_field :titlepic, :placeholder => "Add Image", :style => "display:none;" %>
                <%= image_tag "upload.png", :onclick=>"$('#slide_titlepic').click();" %>
                <div id="titlepic_name" onclick="$('#slide_titlepic').click();"></div>
                <span onclick="$('#slide_titlepic').click();">Click to change</span>
            <% else %>
                <%= f.file_field :titlepic, :placeholder => "Add Image", :style => "display:none;" %>
                <%= f.check_box(:delete_titlepic, :style => "display:none") %>
                <%= image_tag @slide.titlepic.url, :onclick=>"$('#slide_titlepic').click();" %>
                <div id="titlepic_name" onclick="$('#slide_titlepic').click();"><%= @slide.titlepic_file_name %></div>
                <span onclick="$('#slide_titlepic').click();">Click to change</span> <br>
                <span onclick='$("#slide_delete_titlepic").attr("checked", true);$(this).hide();$(this).prev().prev().prev().hide();$(this).prev().prev().prev().prev().attr("src","/assets/upload.png");'>&times;</span>
            <% end %>
          </div>
        </a>

        <!-- In slide edit mode, display selected image name for the titlepic in the image file field, and provide option to delete the image -->
        <div id="titlepic_block" class="file_block">
        </div>
        <%= link_to "Use an image instead", "#", :id => "show_titlepic", :class => 'btn' %>
        <%= link_to "Use a subtitle instead", "#", :id => "clear_titlepic", :style => "display:none;", :class => 'btn' %>
      </div>

      <div id="text_block_section" style="overflow-y: auto;" class="form_subpanel">
        <%= f.cktext_area :main, :id => "subtitle_editor", :ckeditor => {:toolbar => "Custom", :width => 320, :height => 150} %>
      </div>

      <!----- Nested form for content_block
      -> to use nested form add gem "nested_form"
      -> then add it to the Asset Pipeline in the application.js file: //= require jquery_nested_form
      -> include javascript jquery_nested_form
      --------->

      <!-- In slide edit mode, display selected image name for the content block in the respective image file field -->
      <div id="content_block_section" style="display: none; position: relative; overflow-y: auto;" class="form_subpanel">
        <div class="slide_contents_block">
          <%= link_to "Upload Powerpoint Presentation", "#", :class => "btn", :id=>"upload_ppt_btn", :onclick => "open_ppt_mode($(this));" %>
          <%= link_to "Import from Dropbox", "#", :class => "btn disabled", :id=>"dropbox_import_btn" %>
          <%= f.fields_for :content_blocks do |widget_form| %>
              <div class="a_content_block">
                <%#= widget_form.link_to_remove image_tag("delete.gif", :style => "width:20px"), :class => "pull-right", :style => "margin-top:15px;margin-right:5px;font-size:24px;" %>
                <div class="file_block" style="text-align: left;">
                  <%= widget_form.link_to_remove image_tag("delete.gif", :style => "height:20px"), :class => "pull-right", :style => "margin-top:15px;margin-right:5px;font-size:24px;" %>
                  <% if widget_form.object.image.blank? %>
                      <a href="#" class="btn btn-info" style="margin-bottom: 1px; text-align: center; ">
                          <%= widget_form.file_field :image, :placeholder => "Add Image", :class => "required", :style => "margin-right:15px; display:none;", :onchange=>"$(this).next().next().next().html($(this).val().substr(0, $(this).val().lastIndexOf('.')).substring(0,12));" %> <!--javascript to remove file extensions-->
                          <%= image_tag "upload.png", :onclick=>"$(this).prev().click();" %> <br>
                          <div></div>
                          <span onclick="">Click to change</span> <br>
                      </a>
                      <%= widget_form.text_area :caption, :rows=>"2", :placeholder => "Caption for this image", :class => "caption", :style=>"width:95%; resize:vertical; max-height:300px; min-height:80px;" %>
                  <% else %>
                      <div class="existing-cb-images" style="text-align: left;">
                        <a href="#" class="btn btn-info" style="margin-bottom: 1px; text-align: center; ">
                            <%= widget_form.file_field :image, :placeholder => "Add Image", :style => "margin-right:15px; display:none;", :onchange=>"$(this).next().next().text($(this).val().substr(0, $(this).val().lastIndexOf('.')).substring(0,12));$(this).next().attr('src','/assets/upload.png');" %>
                            <% pubsys_path = widget_form.object.image.url %> <%# this is public/system path (paperclip) %>
                            <% userdata_path = pubsys_path.gsub(pubsys_path, "/userdata/"+@slide.presentation.user.name.downcase.gsub(" ", "_")+"/"+@slide.presentation.name.downcase.gsub(" ", "_")+"/"+@slide.id.to_s+"/content_blocks/"+widget_form.object.image_file_name) if widget_form.object.image? %>
                            <%= image_tag userdata_path, :onclick=>"$(this).prev().click();" %>
                            <div class="content_block_img_name"><%= widget_form.object.image_file_name.truncate(22) rescue nil %></div>
                            <span onclick="">Click to change</span> <br>
                            <!--<div class="content_block_img_caption"><%= widget_form.object.caption %></div>-->
                        </a>
                      <%= widget_form.text_area :caption, :rows=>"2", :placeholder => "Caption for this image", :class => "caption", :style=>"width:95%; resize:vertical; max-height:300px; min-height:80px;" %>
                      </div>
                  <% end %>
                </div>
              </div>
          <% end %>

          <%= f.link_to_add "Upload Images", :content_blocks, :class => "btn custom_scroll", :onclick => "$('#import_ppt_block').hide();$('#upload_ppt_btn').show();" %>
        </div>

        <div id="import_ppt_block" style="display: none">
          <h4>Upload a PPT</h4>
          <%= f.file_field :ppt, :placeholder => "Add Image" %>
          <br>
          <br>

          <p style="width:250px;margin: 0 auto;">Okay...this takes anywhere between 1 to 5 minutes depending upon how
            large the PPT is. So maybe
            you want to start this off and go grab a cup of coffee ? </p>
        </div>

      </div>

      <div id="mode_switcher">
        <%= link_to "Basic Mode", "#", :class => 'btn btn-info', :id => "clear_wysiwyg", :onclick => "open_wysiwyg_mode();$(this).addClass('btn-info');$(this).next().removeClass('btn-info')" %>
        <%= link_to "Advanced Mode", "#", :class => 'btn', :id => "show_wysiwyg", :onclick => "open_blocks_mode();$(this).addClass('btn-info');$(this).prev().removeClass('btn-info')" %>
        <%= link_to "Game Mode", "#", :class => 'btn disabled', :id => "game_mode_btn" %>
      </div>

    </div>
    <div id="buttons_panel">
      <%= f.submit "Save the Slide", :class => "btn btn-info submit_button" %>
      <br>
      <a href="#" class="btn btn-inverse" onclick="">Revert Changes</a>
      <a href="#" class="btn btn-inverse" onclick="">Clear Form</a>
      <a href="#" class="btn btn-inverse" onclick="transitOut()">Close without Saving</a>

    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        // This checks for the slide mode and loads slide form in respective mode
        switch ($('#slide_mode').val()) {
            case "HTML":
                open_wysiwyg_mode();
                break;
            case "Blocks":
                open_blocks_mode();
                break;
            case "PPT":
                open_ppt_mode();
                break;
            default:
                open_wysiwyg_mode();
        }

        $('#change_titlepic').hide();

        // This checks for the subtitle and titlepic
        switch ($('#slide_nosub').val()) {
            case "false":
                switch_to_subtitle();
                break;
            case "true":
                switch_to_titlepic();
                break;
            default:
                switch_to_subtitle();
        }

    });
</script>