<%= nested_form_for(@slide, :html => {:multipart => true}) do |f| %>

    <div id="slide_form_panel_header" xmlns="http://www.w3.org/1999/html">Enter Slide Content</div>
    <a href="#" class="btn btn-inverse" onclick="transitOut()">Cancel</a>
    <%= f.submit "Save the slide", :class => "btn btn-info" %>

    <hr>
    <div class="main_form_body" style="height: 390px;overflow-y: auto;">

      <%= f.hidden_field :presentation_id, :value => @presentation.id %>
      <%= f.hidden_field :mode, :value => @slide.mode %>
      <%= f.hidden_field :nosub, :value => @slide.nosub %>
      <%= f.text_field :title, :class => "slide_field", :placeholder => "Title" %>
      <%= f.text_field :subtitle, :class => "slide_field", :placeholder => "Subtitle" %>
      <div id="titlepic_block">
        <% if !@slide.titlepic.blank? %>
            <div id="existing_titlepic">
              <%= @slide.titlepic_file_name %>
              <a href="#" onclick="$('#slide_titlepic').show();$('#existing_titlepic').hide(); $('#change_titlepic').show();">(Change)</a>
            </div>
        <% end %>
        <%= f.file_field :titlepic, :placeholder => "Add Image", :style => "display:none; margin-bottom:10px" %>
        <div id="change_titlepic">
          <a href="#" onclick=" $('#existing_titlepic').show(); $('#slide_titlepic').hide(); $('#change_titlepic').hide();">(Cancel)</a>
        </div>
      </div>
      <br>
      <%= link_to "Use an image instead of a subtitle", "#", :id => "show_titlepic" %>
      <%= link_to "Use a subtitle instead of an image", "#", :id => "clear_titlepic", :style => "display:none;" %>
      <br>
      <br>
      <br>

      <div id="text_block_section" style="padding: 0px 30px 0px 50px;">
        <%= f.cktext_area :main, :id => "subtitle_editor", :ckeditor => {:toolbar => "Custom", :width => 300, :height => 100} %>
      </div>
      <div id="content_block_section" style="display: none">
        <!----- Nested form for content_block
        -> to use nested form add gem "nested_form"
        -> then add it to the Asset Pipeline in the application.js file: //= require jquery_nested_form
        -> include javascript jquery_nested_form
        --------->

        <div class="slide_contents_block" style="margin-top: -20px;">
          <% @slide.content_blocks.each_with_index do |cb, index| %>
              <% if !cb.image.blank? or !cb.caption.blank? %>
                  <div class="existing_cb_imgs">
                      Image File : <br>
                      <%= cb.image_file_name %>
                    <br/>
                    <hr>
                  </div>
              <% end %>
          <% end %>
          <%= f.fields_for :content_blocks do |widget_form| %>
              <hr/>
              <%= widget_form.link_to_remove "x", :class => "pull-right", :style => "margin-right:40px;" %>
              <%= widget_form.text_area :caption, :placeholder => "Enter Caption", :class => "content_block_caption_txt slide_field", :rows => 2, :cols => 30, :style => "margin-right:-40px" %>
              <%= widget_form.file_field :image, :placeholder => "Add Image" %>
              <br/>
              <br/>
          <% end %>
          <%= f.link_to_add "Add another content block", :content_blocks, :class => "btn" %> <br>
          <a href="#" id="display_edit_view_btn" style="display: none;">(Change Images)</a>
          <!--<a href="#" id="hide_edit_view_btn">(Done)</a>-->
        </div>
      </div>
      <div id="import_ppt_block" style="display: none">
        <h4>Upload a PPT</h4>
        <%= f.file_field :ppt, :placeholder => "Add Image" %>
        <br>
        <br>

        <p style="width:250px;margin: 0 auto;">Okay...this takes anywhere between 1 to 5 minutes depending upon how
          large the PPT is. So maybe
          you want to start this off and go grab a cup of coffee ? </p>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        // This checks for the slide mode and loads slide form in respective mode
        switch ($('#slide_mode').val()) {
            case "HTML":
                open_wysiwyg_mode();
                break;
            case "Blocks":
                open_blocks_mode();
                $('.fields').hide();
                $('#display_edit_view_btn').show();
                break;
            case "PPT":
                open_ppt_mode();
                break;
            default:
                open_wysiwyg_mode();
        }

        $('#change_titlepic').hide();

        // This displays form in edit view for content blocks (images)
        $('#display_edit_view_btn').on('click', function () {
            $('.existing_cb_imgs').hide();
            $('.fields').show();
            $(this).hide();
        });

//        if ($('#slide_nosub').val()) {
//            switch_to_titlepic();
//        } else {
//            switch_to_subtitle();
//        }

        switch ($('#slide_nosub').val()) {
            case "false":
                switch_to_subtitle();
                break;
            case "true":
                switch_to_titlepic();
                break;
            default:
                switch_to_subtitle();
        }

        if (!gon.titlepic) {
            $('#slide_titlepic').show();
        }

    });
</script>