<%= nested_form_for(@slide, :html => {:multipart => true}) do |f| %>

    <div id="slide_form_panel_header">Enter Slide Content</div>
    <hr>
    <div class="main_form_body" style="height: 330px;overflow-y: auto;">

      <%= f.hidden_field :presentation_id, :value=>@presentation.id %>
      <%= f.file_field :titlepic, :placeholder => "Add Image", :style => "display:none" %>
      <%= f.text_field :title, :class => "slide_field", :placeholder => "Title" %>
      <br>
      <%= link_to "Use an image as title instead", "#", :id => "show_titlepic" %>
      <%= link_to "Use a textline as title instead", "#", :id => "clear_titlepic", :style => "display:none; margin-top:2px" %>
      <div style="padding: 0px 30px 30px 50px;">

        <label for="subtitle_editor"><h4>Enter your main text content here:</h4></label>
        <%= f.cktext_area :subtitle, :id => "subtitle_editor", :ckeditor => {:toolbar => "Custom", :width => 300, :height => 100} %>
      </div>

      <!----- Nested form for content_block
      -> to use nested form add gem "nested_form"
      -> then add it to the Asset Pipeline in the application.js file: //= require jquery_nested_form
      -> include javascript jquery_nested_form
      --------->

      <label for="slide_contents_block"><h4>Add content blocks here:</h4></label>

      <div class="slide_contents_block" style="margin-bottom: 40px;">
        <%= f.fields_for :content_blocks do |widget_form| %>
            <%= widget_form.file_field :image, :placeholder => "Add Image" %>
            <%= widget_form.text_area :caption, :placeholder => "Enter Caption", :class => "content_block_caption_txt slide_field", :rows => 3, :cols => 30 %>
            <br/>
            <%= widget_form.link_to_remove "Remove the block above" %>
            <hr>
        <% end %>
        <%= f.link_to_add "Add a content block", :content_blocks %> </br>
      </div>
    </div>

    <hr>
    <%= f.submit "Save the slide", :class => "btn ad_btn" %>

<% end %>