<%= nested_form_for(@slide, :html => {:multipart => true}) do |f| %>

    <div id="slide_form_panel_header">Enter Slide Content</div>
    <a href="#" class="btn btn-inverse" onclick="transitOut()">Cancel</a>
    <%= f.submit "Save the slide", :class => "btn btn-info" %>

    <hr>
    <div class="main_form_body" style="height: 390px;overflow-y: auto;">

      <%= f.hidden_field :presentation_id, :value => @presentation.id %>
      <%= f.text_field :title, :class => "slide_field", :placeholder => "Title" %>
      <%= f.text_field :subtitle, :class => "slide_field", :placeholder => "Subtitle" %>
      <%= f.file_field :titlepic, :placeholder => "Add Image", :style => "display:none; margin-bottom:10px" %>
      <br>
      <%= link_to "Use an image instead of a subtitle", "#", :id => "show_titlepic" %>
      <%= link_to "Use a subtitle instead of an image", "#", :id => "clear_titlepic", :style => "display:none;" %>
      <br>
      <br>
      <div id="text_block_section" style="padding: 0px 30px 0px 50px;">
        <%= f.cktext_area :main, :id => "subtitle_editor", :ckeditor => {:toolbar => "Custom", :width => 300, :height => 100} %>
      </div>
      <div id="content_block_section" style="display: none">
        <!----- Nested form for content_block
        -> to use nested form add gem "nested_form"
        -> then add it to the Asset Pipeline in the application.js file: //= require jquery_nested_form
        -> include javascript jquery_nested_form
        --------->
        <div class="slide_contents_block" style="margin-top: -20px;">
          <%= f.fields_for :content_blocks do |widget_form| %>
              <hr/>
              <%= widget_form.link_to_remove "x", :class=>"pull-right", :style=>"margin-right:40px;" %>
              <%= widget_form.text_area :caption, :placeholder => "Enter Caption", :class => "content_block_caption_txt slide_field", :rows => 2, :cols => 30, :style=>"margin-right:-40px" %>
              <%= widget_form.file_field :image, :placeholder => "Add Image" %>
              <br/>
              <br/>
        <% end %>
          <%= f.link_to_add "Add another content block", :content_blocks, :class=>"btn" %>
        </div>
      </div>
      <div id="import_ppt_block" style="display: none">
        <h4>Upload a PPT</h4>
        <%= f.file_field :ppt, :placeholder => "Add Image" %>
        <br>
        <br>
        <p style="width:250px;margin: 0 auto;">Okay...this takes anywhere between 1 to 5 minutes depending upon how large the PPT is. So maybe
          you want to start this off and go grab a cup of coffee ?  </p>
      </div>
    </div>
<% end %>
