<%= include_gon %>
<%= nested_form_for(@slide, :html => {:multipart => true, :class => "cmxform"}) do |f| %>

    <div id="slide_form_panel_header" xmlns="http://www.w3.org/1999/html">Enter Slide Content</div>
    <a href="#" class="btn btn-inverse" onclick="transitOut()">Cancel</a>
    <%= f.submit "Save the slide", :class => "btn btn-info" %>

    <hr>
    <div class="main_form_body" style="height: 390px;overflow-y: auto;">

      <%= f.hidden_field :presentation_id, :value => @presentation.id %>
      <%= f.hidden_field :mode, :value => @slide.mode %>
      <%= f.hidden_field :nosub, :value => @slide.nosub %>
      <%= f.text_field :title, :class => "slide_field required", :placeholder => "Title" %>
      <%= f.text_field :subtitle, :class => "slide_field", :placeholder => "Subtitle" %>

      <!-- In slide edit mode, display selected image name for the titlepic in the image file field, and provide option to delete the image -->
      <div id="titlepic_block" class="file_block">
        <% unless @slide.titlepic.blank? %>
            <div id="existing_titlepic" class="overlap_file_field hidden-tablet">
              <a href="#" onclick='$("#slide_delete_titlepic").attr("checked", true);$(this).parent().hide();'>&times; </a><%= @slide.titlepic_file_name.truncate(22) rescue nil %>
            </div>
        <% end %>
        <%= f.file_field :titlepic, :placeholder => "Add Image", :style => "display:none;" %>
        <%= f.check_box(:delete_titlepic, :style => "display:none") %>
      </div>

      <br>
      <%= link_to "Use an image instead of a subtitle", "#", :id => "show_titlepic" %>
      <%= link_to "Use a subtitle instead of an image", "#", :id => "clear_titlepic", :style => "display:none;" %>
      <br>
      <br>
      <br>

      <div id="text_block_section" style="padding: 0px 30px 0px 50px;">
        <%= f.cktext_area :main, :id => "subtitle_editor", :ckeditor => {:toolbar => "Custom", :width => 300, :height => 100} %>
      </div>

      <!----- Nested form for content_block
      -> to use nested form add gem "nested_form"
      -> then add it to the Asset Pipeline in the application.js file: //= require jquery_nested_form
      -> include javascript jquery_nested_form
      --------->

      <!-- In slide edit mode, display selected image name for the content block in the respective image file field -->
      <div id="content_block_section" style="display: none; position: relative;">
        <div class="slide_contents_block" style="margin-top: -20px;">
          <%= f.fields_for :content_blocks do |widget_form| %>
              <%= widget_form.link_to_remove "x", :class => "pull-right", :style => "margin-right:35px;" %>
              <div class="file_block">
                <% if widget_form.object.image.blank? %>
                    <%= widget_form.file_field :image, :placeholder => "Add Image", :class => "required pull-right", :style=>"margin-right:15px" %>
                <% else %>
                    <div class="overlap_file_field hidden-tablet">
                      <%= widget_form.object.image_file_name.truncate(22) rescue nil %>
                    </div>
                    <%= widget_form.file_field :image, :placeholder => "Add Image", :class => "pull-right", :style=>"margin-right:15px" %>
                <% end %>
              </div>
              <%= widget_form.text_area :caption, :placeholder => "Enter Caption", :class => "content_block_caption_txt slide_field", :rows => 2, :cols => 30 %>
              <hr style="margin-top: 7px;"/>
          <% end %>
          <%= f.link_to_add "Add another content block", :content_blocks, :class => "btn custom_scroll" %> <br>
        </div>
      </div>

      <div id="import_ppt_block" style="display: none">
        <h4>Upload a PPT</h4>
        <%= f.file_field :ppt, :placeholder => "Add Image" %>
        <br>
        <br>

        <p style="width:250px;margin: 0 auto;">Okay...this takes anywhere between 1 to 5 minutes depending upon how
          large the PPT is. So maybe
          you want to start this off and go grab a cup of coffee ? </p>
      </div>
    </div>
<% end %>

<script type="text/javascript">
    $(function () {
        // This checks for the slide mode and loads slide form in respective mode
        switch ($('#slide_mode').val()) {
            case "HTML":
                open_wysiwyg_mode();
                break;
            case "Blocks":
                open_blocks_mode();
                break;
            case "PPT":
                open_ppt_mode();
                break;
            default:
                open_wysiwyg_mode();
        }

        $('#change_titlepic').hide();

        // This checks for the subtitle and titlepic
        switch ($('#slide_nosub').val()) {
            case "false":
                switch_to_subtitle();
                break;
            case "true":
                switch_to_titlepic();
                break;
            default:
                switch_to_subtitle();
        }

    });
</script>