<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" xmlns="http://www.w3.org/1999/html"/>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= stylesheet_link_tag "slide_form" %>

<div class="block1">
  <h3>New Slide</h3>

  <div class="block2">
    <div class="block3">

      <%= nested_form_for(@slide, :html => {:class => "form-horizontal form-bg", :multipart => true}) do |f| %>
          <div class="page">
            <div class="control-group">
              <div class="controls">
                    <%= f.hidden_field :presentation_id, :value => @presentation.id %>
              </div>
            </div>
          </div>
          <div class="page" id="wizard1">
            <div class="control-group">
              <%= f.label :title, :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :title, :placeholder => "Title" %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :subtitle, :class => "control-label" %>
              <div class="controls">
                <%= f.text_field :subtitle, :placeholder => "Subtitle", :size=>"60" %>
              </div>
            </div>

            <%= link_to 'Cancel', console_path, :class => "btn btn-danger btn_cancel"%>
            <a class="btn btn-info btn_next" onclick="$('.page').hide();$('#wizard2').show(); set_active();">Next</a>
          </div>

          <div class="page" id="wizard2">
            <%= f.fields_for :content_blocks do |widget_form| %>
                <%= widget_form.label :content_blocks, :class => "control-label" %>
                <div class="controls">
                  <%= widget_form.file_field :image, :class => "span9", :placeholder => "Add Image" %>
                  <%= widget_form.text_area :caption, :class=>"widget_form_caption_txt", :placeholder => "Enter Caption" %> <br/>
                  <%= widget_form.link_to_remove "Remove this Image", :style => "color: white;" %>
                  <hr/>
                </div>
            <% end %>
            <%= f.link_to_add "Add Image", :content_blocks, :id=>'add_images_and_cap' %> </br>
            <a class="btn btn-danger btn_back" onclick="$('.page').hide();$('#wizard1').show(); set_active();">Back</a>
            <%= f.submit "Finish",:class=>'btn btn-primary btn_finish' %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    var lll=$('.status').children().length;
    $("#wrapper").css('overflow-y','auto');
    $('.cke_contents').css('height','32px');

    var spinner;
    $(document).ready(function () {
        $('.page').hide();
        $('#wizard1').show();
        $('#field1').addClass('active_field');
        $("#help").empty().remove();

        $('#slide_title').focusout(function(){
            if($(this).val().split(/ /).length-1>5)
            {
                alert('Only six words are allowed as title');
                $('#slide_title').val('');
                $('#slide_title').click();
            }
        });

        $('#slide_subtitle').focusout(function(){
            if($(this).val().split(/ /).length-1>25)
            {
                alert('Only twenty-five words are allowed as sub-title');
                $('#slide_subtitle').val('');
                $('#slide_subtitle').click();
            }
        });

    });


    function next(){
        $('.page').hide();
        $('#wizard2').show();
    }

    function hii(){
        lll=lll+1;
        var this_id ="field"+lll;
        $('.status').append('<li id='+this_id+'>Images</li>');
    }

    function set_active(){
        var current_act='#'+$('.status').find('.active_field').attr("id");
        $(current_act).removeClass('active_field');
        $(current_act).next().addClass('active_field');
    }

    function set_active1(){
        var current_act='#'+$('.status').find('.active_field').attr("id");
        $(current_act).removeClass('active_field');
        $(current_act).prev().addClass('active_field');
    }

</script>
