<!DOCTYPE html>
<html>
<head>
  <title>Agile Dex</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/console.css">
  <%= csrf_meta_tags %>
</head>


<body>
<div id="wrapper">

  <!-----------------------------------------------------------
  The Right Panel
  ---------------------------------------------------------------->
  <div id="right_panel">
    <img src="/assets/adlogo.png"/>

    <h2><span style="color: #fff;">agile</span>Dex</h2>

    <div id="writeup">
      Start off by clicking on the 'Create a Deck' button. You gotta name your deck before moving ahead. </br></br>
      Now create a slide for your deck by clicking on 'Create a Slide'.</br></br>
      Next, build your slides with the really cool plug-ins, sort them, view them, export them and you have yourself a
      deck made on agileDex.
    </div>

    <div id="active_presentation">
      <a href="#" class="btn btn-inverse ad_btn">View the Deck <i class="icon-eye-open icon-white pull-right"></i></a>
      <a href="#" class="btn btn-inverse ad_btn">Export as HTML <i class="icon-globe icon-white pull-right"></i></a>
      <a href="#" class="btn btn-inverse ad_btn">Export as SCORM
        <i class="icon-briefcase icon-white pull-right"></i></a>
      <a href="#" class="btn btn-warning ad_btn" style="color:black" onclick="transitOut()">Close
        the Deck <i class="icon-asterisk pull-right"></i></a>
      <a href="#" class="btn btn-danger">Delete the Deck <i class="icon-remove icon-white pull-right"></i></a>
    </div>
  </div>

  <!-----------------------------------------------------------
  The Presentation Slides Index Panel
  ---------------------------------------------------------------->

  <div id="presentation_slides_index" class="middle_panel">
  </div>

  <!-----------------------------------------------------------
  The Slide Form Panel
  ---------------------------------------------------------------->

  <!--TODO: All font-sizes and weights must be captured through h1-5, and all normal text should be the same size.
  TODO: Also assign a fixed font-face to all of the console -->

  <div id="slide_form_panel" class="middle_panel">
    <div style="font-size:20px; font-weight: bold;padding: 20px 20px 10px;">Enter Slide Content</div>
    <hr>
    <%= nested_form_for(@slide, :html => {:multipart => true}) do |f| %>
        <%= f.hidden_field :presentation_id %>
        <%= f.file_field :titlepic, :placeholder => "Add Image" %>
        <div id="clear_titlepic" style="display: none;margin-top: 5px;">
          <%= link_to "Clear the File Field", "#" %>
          <br>
        </div>
        <%= f.text_field :title, :class => "slide_field", :placeholder => "Title" %>
        <div id="title_instruction" style="font-size: 10px;font-style: italic;">You need to enter either a title or
          upload a title picture
        </div>
        <br>
        <%= f.text_field :subtitle, :class => "slide_field", :placeholder => "Subtitle", :size => "60" %>
        <hr>

        <!----- Nested form for content_block
        -> to use nested form add gem "nested_form"
        -> then add it to the Asset Pipeline in the application.js file: //= require jquery_nested_form
        -> include javascript jquery_nested_form
        --------->

        <div style="font-size:16px; font-weight: bold;padding-bottom: 20px;">Content Blocks</div>
        <div class="slide_contents_block">
          <%= f.fields_for :content_blocks do |widget_form| %>
              <%= widget_form.file_field :image, :placeholder => "Add Image" %>
              <%= widget_form.text_area :caption, :placeholder => "Enter Caption", :class => "content_block_caption_txt slide_field", :rows => 3, :cols => 30 %>
              <br/>
              <%= widget_form.link_to_remove "Remove the block above" %>
              <hr>
          <% end %>
          <%= f.link_to_add "+", :content_blocks, :id => 'add_images_and_cap' %> </br>
        </div>
        <hr/>
        <%= f.submit "Finish", :class => 'btn btn-primary btn_finish' %>
    <% end %>
  </div>

  <!-----------------------------------------------------------
  The Left Panel
  ---------------------------------------------------------------->

  <div id="left_panel">
    <p>

    <h3>Decks</h3>
    <a href="#new_deck_Modal" data-toggle="modal" class="btn btn-info" id="new_deck_btn" title="Click here to create a Deck">Create
      a Deck <i class="icon-plus icon-white pull-right"></i></a>
    </p>
    <hr>

    <table id="presentations_table">
      <thead>
      <div class="presentation_search_ico"><img src="/assets/ic_menu_search.ico"></div>
      <tr>
        <th></th>
        <th class="presentation_tools"></th>
      </tr>
      </thead>
      <tbody>

      <!--TODO: The most recent presentation must be on top-->
      <!--TODO: The scroll bar has to be only on the table-->
      <!--TODO: Please prettify the scroll bar-->
      <!--TODO: Please check the presentation filter-->

      <% @presentations.each_with_index do |presentation| %>
          <tr class="presentation_row">
            <td class="presentation_contents">
              <a href="#?presentation<%= presentation.id %>" onclick="transitIn('<%= presentation.name %>')">
                <button class="btn btn-inverse show_this_presentation" type="button"><%= hidden_field_tag presentation.id %><%= presentation.name %></button>
              </a>
            </td>
            <td class="presentation_tools">
              <a title="Save Presentation" class="home_btn_create_prez_xml save_pres" href="create_presentation_xml/<%= presentation.id %>">
                <img src="/assets/save.png"/> </a>
              <a title="View Presentation" class="view_pres" href="Users/user<%= current_user.id.to_s %>/presentations/presentation<%= presentation.id %>/Presentation_Show.html" target="_blank">
                <img src="/assets/view.png"/> </a>
              <a href="#export_Modal" data-toggle="modal" id="export_btn" title="Export Presentation">
                <img src="/assets/export2.png"/> </a>
              <a title="Delete Presentation" class="delete_presentation" href="#"> <%= hidden_field_tag presentation.id %>
                <img src="/assets/delete.png"/> </a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="new_deck_Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3 id="new_deckModalLabel">New Deck</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <form accept-charset="UTF-8" class="form-horizontal" id="new_presentation">
          <fieldset>
            <label class="control-label" for="presentation_name">Name</label>

            <div class="controls">
              <input id="presentation_name" name="presentation[name]" placeholder="Type Presentation Name Here ..." size="30" maxlength="25" type="text"/>
              <br>
              <span id="presentation_name_msg"><sub>max 25 characters.</sub></span>
              <input id="presentation_user_id" name="presentation[user_id]" type="hidden" value="<%= current_user.id %>"/>
            </div>
            <div class="form-actions">
              <button class="btn btn-danger new_deck_Modal_btns" id="new_deck_Modal_close_btn" data-dismiss="modal" aria-hidden="true">Close</button>
              <input class="btn btn-primary new_deck_Modal_btns" id="new_deck_Modal_create_btn" name="commit" value="Create"/>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <% if user_signed_in? %>
        <ul class="nav">
          <li class="brand">
            <% if current_user.email.include?("guest") %>
                Welcome, Guest
            <% else %>
                Welcome, <%= current_user.name %>
            <% end %>
            <a href="/users/sign_out" id="sign_out_btn"><img src="/assets/logout2.png"/></a>
            <a onclick="help();" id="help"><img src="/assets/help.png"/></a>

          </li>
        </ul>
    <% end %>
  </div>
</div>

</body>

<script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/assets/jquery.easing.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>

<%= javascript_include_tag "jquery-ui-1.9.2.custom.min" %>
<%= javascript_include_tag "jquery.ui.widget" %>
<%= javascript_include_tag "jquery.ui.mouse" %>
<%= javascript_include_tag "jquery.ui.sortable" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.powertip" %>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= javascript_include_tag "console/console_behavior" %>
<%= javascript_include_tag "jquery_nested_form" %>

</html>

