<!DOCTYPE html>
<html>
<head>
  <title>Agile Dex</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/console/roundabout-shapes2.css">
  <link rel="stylesheet" href="/assets/console/console.css">
  <link rel="stylesheet" href="/assets/console/slide_form.css">
  <script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>
  <%= javascript_include_tag :application %>
  <%= include_gon %>
  <%= feedback_includes %>
  <%= csrf_meta_tags %>
</head>


<body>
<div id="wrapper">

  <% if user_signed_in?%>
      <script type="text/javascript">$(document).ready(function() { $(".feedback_link").feedback({tabPosition: "top"}); });</script>
  <% end %>
  <!-----------------------------------------------------------
  The Right Panel
  ---------------------------------------------------------------->
  <div id="right_panel">

    <ul id="waterwheel">
      <li><%= image_tag "Ad/export_1.jpg" %></li>
      <li><%= image_tag "Ad/free_1.jpg" %></li>
      <li><%= image_tag "Ad/intuitive_1.jpg" %></li>
      <li><%= image_tag "Ad/cool_1.jpg" %></li>
    </ul>

    <div id="logo">
      <img src="/assets/adlogo.png"/>

      <h2><span style="color: #fff;">agileDex</span></h2>

    </div>

    <div id="writeup">
      Welcome to agileDex
      <!--TODO: Put in a better phrase here-->
      <br/>
      <br/>
      <a href="#" onClick="window.open ('/demo', 'newwindow', config='height=660,width=1054, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');" class="btn ad_btn">Demo</a>

    </div>


    <div id="active_presentation">
      <input type="hidden" id="presentation">
      <a id="view_deck"  href="" class="btn ad_btn">View the Deck</a>
      <a href="#" id="export_html_btn" class="btn ad_btn">Export as HTML</a>
      <a href="#" id="export_scorm_btn" class="btn ad_btn">Export as SCORM</a>
      <a href="#" id="del_deck_btn" class="btn ad_btn">Delete the Deck</a>
      <a href="#" class="btn ad_btn btn-inverse" onclick="transitOut()">Close the Deck</a>
    </div>

    <div id="active_slide" style="color:white">
      <h4>You can also edit the slide in:</h4>
      <br>
      <%= link_to "HTML editor Mode", "#", :id => "clear_wysiwyg", :style => "display:none;", :class => "btn ad_btn" %>
      <%= link_to "Blocks Mode", "#", :id => "show_wysiwyg", :class => "btn ad_btn" %>
      <%= link_to "PPT Upload Mode", "#", :id => "upload_ppt", :class => "btn ad_btn" %>
    </div>
  </div>

  <!-----------------------------------------------------------
  The Deck List Panel
  ---------------------------------------------------------------->

  <div id="deck_list" class="main_panel" style="display: block;">
    <h3>Decks</h3>

    <% if user_signed_in? %>
        <a href="#new_deck_Modal" data-toggle="modal" class="btn btn-info" id="new_deck_btn" title="Click here to create a Deck">Create
          a Deck <i class="icon-plus icon-white pull-right"></i></a>
        <hr>
    <% else %>
        <a href="/users/auth/facebook" class="btn btn-info" id="new_deck_btn" title="Click here to create a Deck">Create
          a Deck <i class="icon-plus icon-white pull-right"></i></a>
        <hr>
    <% end %>

    <table id="presentations_table">
      <thead>
      <tr>
        <th class="presentation_tools"></th>
      </tr>
      </thead>
      <tbody>

      <% if user_signed_in? %>
          <% @presentations.each_with_index do |presentation| %>
              <tr class="presentation_row">
                <td class="presentation_contents">
                  <a href="#?presentation<%= presentation.id %>" onclick="transitInDeck('<%= presentation.name %>')" class="datatable_button">
                    <button class="btn btn-info show_this_presentation" type="button"><%= hidden_field_tag presentation.id %><%= presentation.name.titlecase %></button>
                  </a>
                </td>
              </tr>
          <% end %>
      <%end%>
      </tbody>
    </table>
  </div>

  <!-----------------------------------------------------------
  The Presentation Slides Index Panel
  ---------------------------------------------------------------->

  <div id="presentation_slides_index" class="main_panel">
  </div>

  <!-----------------------------------------------------------
  The Slide Form Panel
  ---------------------------------------------------------------->


  <div id="slide_form_panel" class="main_panel">
  </div>

  <!-----------------------------------------------------------
  The Left Panel
  ---------------------------------------------------------------->

  <div id="left_panel">

  </div>

  <div id="new_deck_Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-header">
      <h3 id="new_deckModalLabel">New Deck</h3>
    </div>
    <form accept-charset="UTF-8" class="form-horizontal" id="new_presentation" style="margin:0">
      <div class="modal-body">
        <input id="presentation_name" name="presentation[name]" data-toggle="focus" placeholder="Type Presentation Name Here ..." size="30" maxlength="25" type="text"/>
        <% if user_signed_in? %>
            <input id="presentation_user_id" name="presentation[user_id]" type="hidden" value="<%= current_user.id %>"/>
        <%end %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger pull-left" data-dismiss="modal" aria-hidden="true">Close</button>
        <input class="btn btn-primary pull-right" id="new_deck_Modal_create_btn" name="commit" value="Create"/>
      </div>
    </form>
  </div>

</div>

<div id="not_signed_in" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav pull-left">
      <% if !user_signed_in? %>
          <li></li>
      <%else %>
          <li id="this_sig" class="brand">
            <% if current_user.email.include?("guest") %>
                Welcome, Guest
            <% else %>
                Welcome, <%= current_user.name %>
            <% end %>
          </li>
      <% end %>
    </ul>
    <% if !user_signed_in? or current_user.email.include?("guest") %>
        <ul class="nav pull-right">
          <li class="dropdown bottom-up">
            <a class="dropdown-toggle brand"
               data-toggle="dropdown"
               href="#">
              Sign in &#9650;
            </a>
            <ul class="dropdown-menu bottom-up" id="sign_in_block">
              <li><a href="/users/auth/facebook"><img src="/assets/Facebook.png" style="width: 200px;"/></a></li>
              <li><a href="/users/auth/twitter"><img src="/assets/Twitter.png" style="width: 200px;"/></a></li>
            </ul>
          </li>
        </ul>
    <%else%>
        <ul class="nav pull-right">
          <li class="brand">
            <a href="/users/sign_out" id="sign_out_btn"><img src="/assets/logout2.png"/>Logout</a>
          </li>
        </ul>
    <% end %>
  </div>
</div>

<!--TODO: Keep this, dont' delete this block, for now Proceed as guest is removed, so, guest bar is getting displayed, and js for this is written in console_behavior -->
<!--<div id="signed_in" class="navbar navbar-inverse">-->
  <!--<div class="navbar-inner">-->
    <!--<ul class="nav pull-left">-->
          <!--<li  class="brand">-->
                <!--Welcome, Guest-->
          <!--</li>-->
    <!--</ul>-->
    <!--<ul class="nav pull-right">-->
      <!--<li class="dropdown bottom-up">-->
        <!--<a class="dropdown-toggle brand"-->
           <!--data-toggle="dropdown"-->
           <!--href="#">-->
          <!--Sign in &#9650;-->
        <!--</a>-->
        <!--<ul class="dropdown-menu bottom-up" id="sign_in_blok">-->
          <!--<li><a href="/users/auth/facebook"><img src="/assets/Facebook.png" style="width: 200px;"/></a></li>-->
          <!--<li><a href="/users/auth/twitter"><img src="/assets/Twitter.png" style="width: 200px;"/></a></li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->





<script type="text/javascript" src="/assets/jquery.easing.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>

<%= javascript_include_tag "jquery-ui-1.9.2.custom.min" %>
<%= javascript_include_tag "jquery.ui.widget" %>
<%= javascript_include_tag "jquery.ui.mouse" %>
<%= javascript_include_tag "jquery.ui.sortable" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.powertip" %>
<%= javascript_include_tag "jquery.nicescroll.min" %>
<%= javascript_include_tag "jquery.easing" %>
<%= javascript_include_tag "console/jquery.roundabout.min" %>
<%= javascript_include_tag "console/jquery.roundabout-shapes.min" %>
<%= javascript_include_tag "console/console_behavior" %>
<%= javascript_include_tag "jquery_nested_form" %>

<!--This is used for form validation-->
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>


</body>
</html>

