<!DOCTYPE html>
<html>
<head>
  <title>Welcome to agileDex</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/console/console.css">
  <link rel="stylesheet" href="/assets/console/slide_form.css">
  <link rel="stylesheet" href="/assets/console/jimpress/jimpress.css">
  <!--<link rel="stylesheet" href="/assets/console/jquery.mCustomScrollbar.css">-->
  <script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/assets/console/jimpress/jmpress.min.js"></script>
  <%= javascript_include_tag :application %>
  <%= include_gon %>
  <%= feedback_includes %>
  <%= csrf_meta_tags %>
</head>


<body>
<div id="wrapper">

  <!-----------------------------------------------------------
  The Right Panel
  ---------------------------------------------------------------->
  <div id="right_panel">

    <h1 id="headline">
      A presentation and elearning authoring tool
      <br style="margin-bottom: 15px;">
      <a href="#" onClick="window.open ('/demo', 'newwindow', config='height=660,width=1054, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');" class="btn btn-inverse ad_btn">Take
        a Tour</a>
    </h1>

    <div id="logo">
      <img src="/assets/adlogo.png"/>

      <h2><span style="color: #583a13;">agile</span>Dex</h2>
    </div>

    <div id="writeup">
      <section id="jms-slideshow" class="jms-slideshow">
        <div class="step" data-color="color-2" data-y="800" data-scale="0.4" data-rotate-x="30">
          <div class="jms-content">
            <%= image_tag "console/what.png" %>
          </div>
        </div>
        <div class="step" data-color="color-2" data-y="800" data-scale="0.4" data-rotate-x="90">
          <div class="jms-content">
            <%= image_tag "console/why.png" %>
          </div>
        </div>
        <div class="step" data-color="color-1" data-rotate-x="60">
          <div class="jms-content">
            <%= image_tag "console/how.png" %>
          </div>
        </div>
        <div class="step" data-color="color-1" data-y="2000" data-scale="0.2" data-rotate-x="90">
          <div class="jms-content">
            <%= image_tag "console/where.png" %>
          </div>
        </div>
      </section>
      <hr style="background: black">
    </div>


    <div id="active_presentation">
      <input type="hidden" id="presentation">
      <a id="view_deck" href="" class="btn ad_btn">View the Deck</a>
      <a href="#" id="export_html_btn" class="btn ad_btn">Export as HTML</a>
      <a href="#" id="export_scorm_btn" class="btn ad_btn btn disabled">Export as SCORM</a>
      <a href="#" id="del_deck_btn" class="btn ad_btn">Delete the Deck</a>
      <a href="#" class="btn ad_btn btn-inverse" onclick="transitOut()">Close the Deck</a>
    </div>

    <div id="active_slide" style="color:white">
      <h4>You can also edit the slide in:</h4>
      <br>
      <%= link_to "HTML editor Mode", "#", :id => "clear_wysiwyg", :style => "display:none;", :class => "btn ad_btn" %>
      <%= link_to "Blocks Mode", "#", :id => "show_wysiwyg", :class => "btn ad_btn" %>
      <%= link_to "PPT Upload Mode", "#", :id => "upload_ppt", :class => "btn ad_btn" %>
    </div>
  </div>

  <!-----------------------------------------------------------
  The Deck List Panel
  ---------------------------------------------------------------->

  <div id="deck_list" class="main_panel" style="display: block;">


    <% if user_signed_in? %>


        <script type="text/javascript">
            $(function () {
                $(".feedback_link").feedback({tabPosition: "top"});
                $("#new_deck_Modal").modal("show");
            });
        </script>

        <h3>Slide Decks</h3>

        <a href="#new_deck_Modal" data-toggle="modal" class="btn btn-inverse" id="new_deck_btn" title="Click here to create a Deck">Create
          a Deck <i class="icon-plus icon-white pull-right"></i></a>
        <hr>

        <table id="presentations_table">
          <thead>
          <tr>
            <th class="presentation_tools"></th>
          </tr>
          </thead>
          <tbody>
          <% @presentations.each_with_index do |presentation| %>
              <tr class="presentation_row">
                <td class="presentation_contents">
                  <a href="#?presentation<%= presentation.id %>" onclick="transitInDeck('<%= presentation.name %>')" class="datatable_button">
                    <button class="btn btn-inverse show_this_presentation" type="button"><%= hidden_field_tag presentation.id %><%= presentation.name.titlecase %></button>
                  </a>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        <br>

        <div id="instruction_block">
          <%= image_tag "console/wordart.png" %>
        </div>
        <br>
        <a href="/users/auth/facebook" class="btn btn-inverse btn-landing" id="new_deck_btn" title="Start">
          <h1>Start</h1>
        </a>
    <% end %>

  </div>

  <!-----------------------------------------------------------
  The Presentation Slides Index Panel
  ---------------------------------------------------------------->

  <div id="presentation_slides_index" class="main_panel">
  </div>

  <!-----------------------------------------------------------
  The Slide Form Panel
  ---------------------------------------------------------------->


  <div id="slide_form_panel" class="main_panel">
  </div>

  <!-----------------------------------------------------------
  The Left Panel
  ---------------------------------------------------------------->

  <div id="left_panel">

  </div>


  <!-----------------------------------------------------------
  New Deck Modal
  ---------------------------------------------------------------->


  <div id="new_deck_Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModalLabel">
    <form accept-charset="UTF-8" class="form-horizontal" id="new_presentation" style="margin:0">
      <div class="modal-header" style="text-align: center; background: url('/assets/console_background.jpg') repeat;border-top-left-radius: 5px;border-top-right-radius: 5px;">
        <h2>Quick Start Wizard</h2>
      </div>
      <div class="modal-body">
        <% if user_signed_in? %>
            <input id="presentation_user_id" name="presentation[user_id]" type="hidden" value="<%= current_user.id %>"/>
        <% end %>
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active wizard"><a data-toggle="tab" class="wizard" href="#lB">AutoPresenter Method</a></li>
            <li class="wizard"><a data-toggle="tab" class="wizard" href="#lC">PowerPPT Method</a></li>
            <li class="wizard"><a data-toggle="tab" class="wizard" href="#lD">Manual Method</a></li>
          </ul>
          <div class="tab-content">
            <div id="lB" class="tab-pane active">
              <h3 style="margin-top: 0;">Autocreate a deck on:</h3>
              <input id="presentation_name" name="presentation[name]" data-toggle="focus" placeholder="A topic of your choice..." type="text" style="width:90%;"/>
              <br>
              <br>
              <a href="#" class="btn btn-inverse pull-right" id="new_deck_Modal_search_from_wiki" style="margin-right: 20px;">Try
                your luck</a>
            </div>
            <div id="lC" class="tab-pane">
              <h3 style="margin-top: 0;">New Presentation:</h3>
              <!--<input id="presentation_name" name="presentation[name]" data-toggle="focus" placeholder="Name the presentation" type="text" style="width:90%"/>-->
              <!--<input id="presentation_name" type="file" name="presentation[name]" size="25">-->
              <input id="presentation_name" name="presentation[name]" data-toggle="focus" placeholder="Name the presentation" type="text" style="width:90%"/>
              <!--<div id="new_deck_Modal_ppt_info" style="position: absolute; left:226px; top:73px; font-size: 14px; color: gray;">Please, select ppt/pdf file.</div>-->

              <%#= nested_form_for @presentation, html: {multipart: true} do |f| %>
                  <%#= f.fields_for :slides do |slide_form| %>
                      <%#= slide_form.text_field :title %>
                      <%#= slide_form.file_field :ppt %>
                      <%#= slide_form.link_to_remove "Remove this task" %>
                  <%# end %>
                  <!--<p><%#= f.link_to_add "Add a task", :slides %></p>-->
              <%# end %>

              <%#= form_for :slide, :html => { :multipart => true } do |f| %>
                  <%#= f.file_field :ppt %>
                  <%#= f.submit %>
              <%# end %>

              <br>
              <br>
              <!--<input class="btn btn-primary" style="" id="new_deck_Modal_create_btn" name="commit" value="Create"/>-->
              <a href="#" class="btn btn-inverse pull-right" id="new_deck_Modal_ppt_btn" style="margin-right: 20px;">Create</a>
            </div>
            <div id="lD" class="tab-pane">
              <h3 style="margin-top: 0;">New Deck:</h3>
              <input id="presentation_name" name="presentation[name]" data-toggle="focus" placeholder="Name the presentation" type="text" style="width:90%"/>
              <br>
              <br>
              <!--<input class="btn btn-primary" style="" id="new_deck_Modal_create_btn" name="commit" value="Create"/>-->
              <a href="#" class="btn btn-inverse pull-right" id="new_deck_Modal_create_btn" style="margin-right: 20px;">Create</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="close" data-dismiss="modal">Close</a>
      </div>
    </form>
  </div>
</div>

</div>

<div id="not_signed_in" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav pull-left">
      <% if !user_signed_in? %>
          <li></li>
      <% else %>
          <li id="this_sig" class="brand">
            <% if current_user.email.include?("guest") %>
                Welcome, Guest
            <% else %>
                Welcome, <%= current_user.name %>
            <% end %>
          </li>
      <% end %>
    </ul>
    <% if !user_signed_in? or current_user.email.include?("guest") %>
        <ul class="nav pull-right">
          <li class="dropdown bottom-up">
            <a class="dropdown-toggle brand"
               data-toggle="dropdown"
               href="#">
              Sign in &#9650;
            </a>
            <ul class="dropdown-menu bottom-up" id="sign_in_block">
              <li><a href="/users/auth/facebook"><img src="/assets/Facebook.png" style="width: 200px;"/></a></li>
              <li><a href="/users/auth/twitter"><img src="/assets/Twitter.png" style="width: 200px;"/></a></li>
            </ul>
          </li>
        </ul>
    <% else %>
        <ul class="nav pull-right">
          <li class="brand">
            <a href="/users/sign_out" id="sign_out_btn"><img src="/assets/logout2.png"/>Logout</a>
          </li>
        </ul>
    <% end %>
  </div>
</div>

<!--TODO: Keep this, dont' delete this block, for now Proceed as guest is removed, so, guest bar is getting displayed, and js for this is written in console_behavior -->
<!--<div id="signed_in" class="navbar navbar-inverse">-->
<!--<div class="navbar-inner">-->
<!--<ul class="nav pull-left">-->
<!--<li  class="brand">-->
<!--Welcome, Guest-->
<!--</li>-->
<!--</ul>-->
<!--<ul class="nav pull-right">-->
<!--<li class="dropdown bottom-up">-->
<!--<a class="dropdown-toggle brand"-->
<!--data-toggle="dropdown"-->
<!--href="#">-->
<!--Sign in &#9650;-->
<!--</a>-->
<!--<ul class="dropdown-menu bottom-up" id="sign_in_blok">-->
<!--<li><a href="/users/auth/facebook"><img src="/assets/Facebook.png" style="width: 200px;"/></a></li>-->
<!--<li><a href="/users/auth/twitter"><img src="/assets/Twitter.png" style="width: 200px;"/></a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->


<script type="text/javascript" src="/assets/jquery.easing.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>

<%= javascript_include_tag "jquery-ui-1.9.2.custom.min" %>
<%= javascript_include_tag "jquery.ui.widget" %>
<%= javascript_include_tag "jquery.ui.mouse" %>
<%= javascript_include_tag "jquery.ui.sortable" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.powertip" %>
<%= javascript_include_tag "jquery.easing" %>
<%= javascript_include_tag "console/console_behavior" %>
<%#= javascript_include_tag "console/jquery.mCustomScrollbar.concat.min" %>
<%= javascript_include_tag "jquery_nested_form" %>
<%= javascript_include_tag "console/jimpress/jquery.jmslideshow" %>
<%= javascript_include_tag "console/jimpress/modernizr" %>

<!--This is used for form validation-->
<!--<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>-->
<!--Source : http://jzaefferer.github.com/jquery-validation/jquery.validate.js-->
<script type="text/javascript" src="/assets/jquery.validate.js"></script>

<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<script src="/assets/jquery.ui.widget.js"></script>
<script src="/assets/jquery.iframe-transport.js"></script>
<script src="/assets/jquery.fileupload.js"></script>


</body>
</html>

