<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.booklet.latest.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.squishy.js"></script>
<% end %>

<%= content_for :styles do %>
    <link href="/assets/<%= @plugin %>/jquery.booklet.latest.css" rel="stylesheet" media="screen">
    <link href="/assets/layout2.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
      <div id="mybook">
      </div>
<% end %>


