<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/contentglider.js"></script>
<% end %>

<%= content_for :styles do %>
    <link href="/assets/<%= @plugin %>/contentglider.css" rel="stylesheet" media="screen">
    <link href="/assets/layout2.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
    <div id="canadaprovinces" class="glidecontentwrapper">
      <div class="glidecontent">
      </div>
    </div>

    <div id="p-select" class="glidecontenttoggler">
      <a href="#" class="prev">Prev</a>
      <!--<a href="#" class="toc">Page 1</a>-->
      <!--<a href="#" class="toc">Page 2</a>-->
      <!--<a href="#" class="toc">Page 3</a>-->
      <!--<a href="#" class="toc">Page 4</a>-->
      <!--<a href="#" class="toc">Page 5</a>-->
      <a href="#" class="next">Next</a>
    </div>

<% end %>


