<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/demo.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/slider.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/fancybox.js"></script>
<% end %>
<%= content_for :styles do %>
    <link href="/assets/<%= @plugin %>/fancymoves.css" rel="stylesheet" media="screen">
    <link href="/assets/layout2.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
    <div id="slider-three"></div>
<% end %>


