<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.imagecube.min.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
<% end %>
<%= content_for :styles do %>
    <link href="/assets/<%= @plugin %>/imagecube.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
<div id="full3DCube"></div>
<% end %>


