<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jmpress.min.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.jmslideshow.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/modernizr.custom.48780.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
<% end %>
<%= content_for :styles do %>
    <link href="/assets/<%= @plugin %>/jimpress.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
    <section id="jms-slideshow" class="jms-slideshow"></section>
<% end %>