<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
<% end %>
<%= content_for :styles do %>
    <link rel="stylesheet" href="/assets/<%= @plugin %>/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/<%= @plugin %>/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/<%= @plugin %>/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/<%= @plugin %>/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/<%= @plugin %>/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/<%= @plugin %>/style.css" type="text/css" media="screen" />
<% end %>


<%= content_for :widget_wrap do %>
    <div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
      </div>
    </div>
<% end %>


