<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.pfold.js"></script>
<% end %>

<%= content_for :styles do %>
    <link href="/assets/<%= @plugin %>/pfold.css" rel="stylesheet" media="screen">
    <link href="/assets/<%= @plugin %>/custom2.css" rel="stylesheet" media="screen">
    <link href="/assets/layout1.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
    <section class="main demo-2">
      <div id="grid" class="grid clearfix">
      </div>
    </section>
<% end %>


