<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/modernizr.custom.46884.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.slicebox.js"></script>

    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>

<% end %>
<%= content_for :styles do %>
    <link rel="stylesheet" type="text/css" href="/assets/<%= @plugin %>/slicebox.css" />
<% end %>


<%= content_for :widget_wrap do %>
    <ul id="sb-slider" class="sb-slider">

    </ul>
    <div id="nav-arrows" class="nav-arrows">
      <a href="#">Next</a>
      <a href="#">Previous</a>
    </div>

<% end %>