<%= content_for :scripts do %>
    <script src="/assets/<%= @plugin %>/jquery.easing.1.3.js"></script>
    <script src="/assets/<%= @plugin %>/jquery.animate-colors-min.js"></script>
    <script src="/assets/<%= @plugin %>/jquery.skitter.min.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>

<% end %>
<%= content_for :styles do %>
    <link href="/assets/<%= @plugin %>/styles.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/assets/<%= @plugin %>/skitter.styles.css" type="text/css" media="all" rel="stylesheet" />

<% end %>


<%= content_for :widget_wrap do %>
    <div id="content" style="margin:0;padding:0">
      <div class="border_box" style="margin:0;padding:0">
        <div class="box_skitter box_skitter_large" style="margin:0;padding:0">
          <ul id="slide">

          </ul>
        </div>
      </div>
    </div>
<% end %>


