<%= content_for :scripts do %>
    <script src="/assets/<%= @plugin %>/modernizr.custom.63321.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.stackslider.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.boxfit.js"></script>

<% end %>
<%= content_for :styles do %>
    <link rel="stylesheet" type="text/css" href="/assets/<%= @plugin %>/style.css" />
    <link href="/assets/layout2.css" rel="stylesheet" media="screen">
<% end %>


<%= content_for :widget_wrap do %>
    <div class="main">
      <ul id="st-stack" class="st-stack-raw">

      </ul>
    </div>

<% end %>