<%= content_for :scripts do %>
    <script type="text/javascript" src="/assets/<%= @plugin %>/modernizr.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/jquery.windy.js"></script>
    <script type="text/javascript" src="/assets/<%= @plugin %>/init.js"></script>

<% end %>
<%= content_for :styles do %>
    <link rel="stylesheet" type="text/css" href="/assets/<%= @plugin %>/windy.css" />
  <link href="/assets/layout1.css" rel="stylesheet" media="screen">

<% end %>


<%= content_for :widget_wrap do %>
    <div class="windy-demo">
      <ul id="wi-el" class="wi-container">
      </ul>
      <nav>
        <span id="nav-prev">prev</span>
        <span id="nav-next">next</span>
      </nav>
    </div>

<% end %>