<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta content="utf-8" http-equiv="encoding">
  <title>Welcome to agileDex</title>
  <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/master.css">
  <link rel="stylesheet" href="/assets/themes.css">
  <link rel="stylesheet" href="/assets/<%= @plugin_layout %>.css">
  <%= yield :styles %>
  <%= include_gon %>
</head>

<body>
<!-- The Theme and Layout of the slide will be dependent on the classes on the wrapper. Specified in layout.css and theme.css-->
<div id="wrapper" class="theme_home">

  <!-- The Menu for cycling through the plugins, changing theme and font -->
  <% unless @export %>
      <ul class="nav nav-stacked nav-pills pull-right menu_select" style="margin-top: 0px">
        <li class="btn-warning" id="ad-menu-toggle">
          <a href="#" onclick="$('.ad-menu-item').slideToggle();"><i class="icon-tasks"></i></a></li>
        <li class="active ad-menu-item"><a href="/console"><i class="icon-home"></i></a></li>
        <li class="active ad-menu-item"><a href="/console/<%= @slide.id rescue "" %>"><i class="icon-edit"></i></a></li>



        <li class="active ad-menu-item">
          <a href="#plugin_modal" data-toggle="modal" onclick=""><i class="icon-retweet"></i></a></li>

        <li class="active ad-menu-item"><a onclick="save_slide();"><i class="icon-download"></i></a></li>
        <li class="active ad-menu-item">
          <a href="#font_Modal" data-toggle="modal" onclick=""><i class="icon-text-width"></i></a></li>
        <li class="active ad-menu-item">
          <a href="#theme_Modal" data-toggle="modal" onclick=""><i class="icon-th"></i></a></li>
      </ul>
  <% end %>

  <% if @view_deck %>
      <ul class="nav nav-stacked nav-pills pull-right menu_select" style="margin-top: 0px; text-align: center;">
        <li class="btn-warning" id="ad-menu-toggle_view_deck"><a href="#" onclick="$('.ad-menu-item').slideToggle();"><i class="icon-tasks"></i></a></li>
        <li class="active ad-menu-item"><a href="/console"><i class=""></i>Home</a></li>
        <li class="active ad-menu-item"><a id="slide_prev" href=""><i class=""></i>Prev</a></li>
        <li class="active ad-menu-item"><a id="slide_next" href=""><i class=""></i>Next</a></li>
      </ul>
  <% elsif @export %>
      <ul class="nav nav-stacked nav-pills pull-right menu_select" style="margin-top: 0px; text-align: center;">
        <li class="btn-warning" id="ad-menu-toggle_view_deck"><a href="#" onclick="$('.ad-menu-item').slideToggle();"><i class="icon-tasks"></i></a></li>
        <li class="active ad-menu-item"><a id="slide_prev" href=""><i class=""></i>Prev</a></li>
        <li class="active ad-menu-item"><a id="slide_next" href=""><i class=""></i>Next</a></li>
      </ul>
  <% end %>

  <!-- Standard Body Structure -->
  <div id="title_wrap" class="elements">
  </div>
  <div id="subtitle_back" class="elements">
  </div>
  <div id="subtitle" class="elements">
  </div>
  <div id="titlepic" class="elements">
  </div>
  <div id="main_block" class="text_block" class="elements">
  </div>
  <div id="widget_wrap" class="elements">
    <%= yield :widget_wrap %>
  </div>
  <div id="caption_wrap_back" class="elements">
  </div>
  <div id="caption_wrap" class="text_block elements"><h1>
    <%= yield :caption_wrap %>
  </h1></div>

</div>
<% unless @export %>
    <!--------------------------------------------------------
    Navbar
    ------------------------------------------------------------>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <ul class="nav">
          <% if !user_signed_in? %>
              <li></li>
          <% end %>
        </ul>
        <% if !user_signed_in? %>
            <ul class="nav pull-right">
              <li class="dropdown bottom-up">
                <a class="dropdown-toggle brand"
                   data-toggle="dropdown"
                   href="#">
                  Sign in &#9650;
                </a>
                <ul class="dropdown-menu bottom-up" id="sign_in_block">
                  <li><a href="/users/auth/facebook"><img src="/assets/Facebook.png" style="width: 200px;"/></a></li>
                  <li><a href="/users/auth/twitter"><img src="/assets/Twitter.png" style="width: 200px;"/></a></li>
                </ul>
              </li>
            </ul>
        <% else %>
            <ul class="nav" style="float: right; margin-right: -22px;">
              <li class="signed-up brand">
                <% if current_user.email.include?("guest") %>
                    Guest
                <% else %>
                    Welcome, <%= current_user.name %>
                <% end %>
                <a href="/console" id="console_page_link"><img src="/assets/home2.png"/></a>
                <a href="/users/sign_out" id="sign_out_link"><img src="/assets/logout2.png"/></a>
              </li>
            </ul>
        <% end %>
      </div>
    </div>

    <!--------------------------------------------------------
    Modals
    ------------------------------------------------------------>

    <div id="theme_Modal" class="modal hide fade home_modal_style" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="themeModalLabel" class="modalLabel">Theme Selection</h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <div id="current_theme_name"> Current Theme :<%= @background %></div>
          <br>
          Change Theme : <select name="theme_selection" id="ts" style="width: 140px;">
          <% @themelist.each do |theme| %>
              <option value="<%= theme.downcase.gsub(" ", "_") %>"><%= theme %></option>
          <% end %>
        </select>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="font_Modal" class="modal hide fade home_modal_style" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="fontModalLabel" class="modalLabel">Font Selection</h3>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <div id="current_font_name"> Current Font : <%= @font %></div>
          <br>
          Change Font : <select name="theme_selection" id="fs" style="width: 160px;">
          <% @fontarray.each_with_index do |f, index| %>
              <option value="<%= index %>"><%= f %></option>
          <% end %>
        </select>
        </div>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <div id="plugin_modal" class="modal hide fade home_modal_style" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modalLabel">Plugin Browser</h3>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <th>Select</th>
            <th>Plugin</th>
            <th>IE</th>
            <th>Chrome</th>
            <th>Firefox</th>
            <th>Safari</th>
            <th>Opera</th>
          </tr>

          <% @widget_list.each_with_index do |widget,index| %>
              <tr>

                <td><input class="select_plugin" type="radio" name="plugin" value=<%=index%>></td>
                <td><%= widget %></td>
                <td>
                  <% if @ie_support[index]!="6+" %>
                      <img src="/assets/tick.png" alt="">
                  <% else %>
                      <img src="/assets/cross.jpg" alt="">
                  <% end %>
                </td>

                <td>
                  <% if @chrome_support[index]!="false" %>
                      <img src="/assets/tick.png" alt="">
                  <% else %>
                      <img src="/assets/cross.jpg" alt="">
                  <% end %>
                </td>
                <td>
                  <% if @firefox_support[index]!="false" %>
                      <img src="/assets/tick.png" alt="">
                  <% else %>
                      <img src="/assets/cross.jpg" alt="">
                  <% end %>
                </td>
                <td>
                  <% if @safari_support[index]!="false" %>
                      <img src="/assets/tick.png" alt="">
                  <% else %>
                      <img src="/assets/cross.jpg" alt="">
                  <% end %>
                </td>
                <td>
                  <% if @opera_support[index]!="false" %>
                      <img src="/assets/tick.png" alt="">
                  <% else %>
                      <img src="/assets/cross.jpg" alt="">
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
      <div class="modal-footer" style="text-align: center;">
        <button id="select_plugin_btn" class="btn btn-info" aria-hidden="true">Select</button>
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

    <!-----------------------------------------------------------------
    Modals End
    ----------------------------------------------------------------------->
<% end %>

<script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/assets/jquery.easing.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/jquery.boxfit.js"></script>
<script type="text/javascript" src="/assets/master_init.js"></script>
<script type="text/javascript" src="/assets/layout.js"></script>

<script type="text/javascript" src="/assets/noty.js"></script>
<script type="text/javascript" src="/assets/noty.top.js"></script>
<script type="text/javascript" src="/assets/noty.topRight.js"></script>
<script type="text/javascript" src="/assets/noty.bottomRight.js"></script>
<script type="text/javascript" src="/assets/noty.bottomCenter.js"></script>
<!-- You can add more layouts if you want -->
<script type="text/javascript" src="/assets/noty.default.js"></script>

<%= yield :scripts %>

<script type="text/javascript">

    /*function to save slide with a single widget font and background image*/
    function save_slide() {
        var data = {id:[], plugin:[], font:[], background:[]};
        data["id"].push(gon.slide_id);
        data["plugin"].push(gon.widget_list[gon.plugin]);
        data["font"].push(gon.font);
        data["background"].push(gon.background);
        $.ajax({
            url:"<%= save_slide_path %>",
            type:"post",
            data:JSON.stringify(data),
            contentType:"application/json",
            success:function (data) {
                display_noty();
            }
        });
    }

    // This function displays notification on successful slide save
    // Resuorce : http://needim.github.io/noty/
    // javascripts for noty are in assets/master/noty.* (js names starting with noty)
    var noty;
    function display_noty() {
        noty = noty({ text:'Slide saved successfully!', layout:'bottomCenter'});
    }

</script>
</body>
</html>